# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3

# Env
.env
*.env

# VSCode / PyCharm
.vscode/
.idea/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
